<h1>Your Movie Choice</h1>

<h2>Movie: <%= @movie.title %></h2>
  <h4>Plot: <%= @movie.plot %></h4>
  <h5>year: <%= @movie.year %></h5>
  <h5>Genre: <%= @movie.genres.first.name %></h5>
  <h5>Director: <%= @movie.director %></h5>
  <h5>English: <%= @movie.english %></h5>



